@charset "UTF-8";

/*스타일초기화*/
.headline-title{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 150%;
  background-color: #868686;
}

.wrap{
  background: #fff;
}
.info02{
color: #868686;
}

ul {
    list-style-type: none;
}

/*숨김콘텐츠*/
.hidden{
  position: absolute;
  left: -9999em;
}
/*공통 적용*/
.headline-title, .bigphoto-description, .description, .col1>h3, .col2>h3, .pagenation{
  font-family: 'VarelaRound-Regular';
}

figcaption{
  font-family: 'PT Serif';
  font-style: italic;
  color: #868686;
  font-size: 50%;
  text-align: center;
  margin-top: 20px;
}

/*레이아웃*/
.wrap{
  box-sizing: border-box;
  width: 960px;
  height: 3170px;
  padding: 80px 120px;
  margin: 0 auto;
}


/* ========================================
헤더 - 헤드라인
========================================*/

.headline-title{
  width: 500px;
  height: 155px;
  font-size: 48px;
  margin-top: 30px;
  margin-bottom: 50px;
  line-height: 1.15;
}

.info01{
  font-family: 'Oswald-Bold';
  color: #1f4ba5;
  font-size: 12px;
  float: left;
}
.info02{
  font-family: 'PT Serif';
  font-style: italic;
  font-size: 12px;
  padding-left: 5rem;
}
.info03{
  font-family: 'Oswald-Bold';
  font-size: 10px;
  color: #909090;
  float: right;
}
.headline-description{
  position: relative;
  font-family: 'PT Serif';
  font-style: italic;
  color: #868686;

}
.headline-description:before{
  content: "";
  width: 13px;
  height: 15px;
  display: inline-block;
  position: absolute;
  left: -25px;
  top: 5px;
  background: url(../images/icon-bookmarks.png) no-repeat;
}
.bookmarks{
  position: relative;
  left: -3em;
}
/* ========================================
메인 - 메인콘텐츠01, 메인콘텐츠02, 메인콘텐츠03
========================================*/
main{
  margin-top: 30px;
}
/*메인콘텐츠01*/
.bigphoto img{
  position: relative;
  left: -160px;
}

.bigphoto figcaption{
  margin-top: 20px;
  position: relative;
  left: -37px;
  text-align: left;
}

.bigphoto-description{
  margin-top: 30px;
  color: #868686;
  margin-bottom: 90px;

}

.contents{
  position: relative;
  width: 960px;
  left: -120px;
}

.slider figure{
  margin: 0;
  padding: 0;
  width: 240px;
  height: 240px;
  float: left;
}

.slider figcaption{
  text-align: center;

}
.contents{
  height: 310px;
}

.controller:after{
  content: "";
  display: block;
  clear: both;
}

.btn-prev, .btn-next{
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 1px solid #ececec;
  text-align: center;
  line-height: 60px;
  float: left;
}

.btn-next{
  border-left: none;
}

.pagenation{
  font-size: 5px;  /*적용안됨 확인필요*/
  color:  #868686;
  position: relative;
  top: 20px;
  left: 40px;
}

.pagenation>span{
  font-size: 10px; /*적용안됨 확인필요*/
}
/*메인콘텐츠02*/
.main-content-02>h2{
  width: 600px;
  font-size: 30px;
  line-height: 1.15;

}

.description{
  color:  #868686;
}

.photo-komol{
  border-radius: 50%;
}
.name, .country{
  text-align: left;
  margin-top: 0px;
}
.quote{
  margin-top: 75px;
  margin-bottom: 50px;
  /*width: 600px;*/
  /*height: 240px;*/

  position: relative;
  quotes: none;
}

.quote:before{
  content: "";
  display: block;
  width: 13px;
  height: 15px;
  position: absolute;
  left: -25px;
  top: 5px;
  background: url(../images/icon-quote.png) no-repeat;
}

.quote q{
  display: inline;
  /*width: 350px;*/
}

.quote figure{
  float: right;
  margin-right: 180px;
  margin-left: 100px;
}

.name{
  font-family: 'VarelaRound-Regular';
  font-style: normal;
  color: #222222;

}


/*메인콘텐츠03*/
.main-content-03{
  margin-top: 50px;
}

.photo-wolf{
  width: 600px;
}
.video figure{
  position: relative;
}
.video-duration{
  font-family: 'VarelaRound-Regular';
  color: #868686;
  position: absolute;
  top: 20px;
  right: 60px;


}
.play{
  position: absolute;
  top: 205px;
  left: 60px;
}

.col{
  margin-top: 50px;
}
.col:after{
  content: "";
  display: block;
  clear: both;
}

.col1{
  width: 300px;
  float: left;
}

.col2{
  width: 300px;
  float: right;
  /*padding-right: 40px;*/
  margin-right: 70px;
  box-sizing: border-box;
  padding-left: 30px;
}
/* ========================================
푸터
========================================*/
.share{
  position: relative;
}
.share:after{
  content: "";
  display: block;
  clear: both;
}
.sns{
  position: relative;
  left: -40px;
}
.sns li{
  float: left;
  margin-right: 10px;
}
.sns a{
  box-sizing: border-box;;
  display: inline-block;
  border-radius: 15px;
  width: 85px;
  height: 30px;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 3px;
  color: #fff;
  text-decoration: none;
  font-family: 'Oswald-Bold';
  font-size: 12px;
  text-align: right;
}


.sns a img{
float: left;
}


.facebook{
  background-color: #215b9a;
}

.twitter{
  background-color: #00adf2;
}

.google{
  background-color: #ce4435;

}

.pinterest{
  background-color: #e51616;

}

.back{
  margin-top: 50px;
}

.back a{
  color: #215b9a;
  text-decoration: none;
  font-family: 'VarelaRound-Regular';


}

.back img{
  margin-right: 5px;
}
