.banner{
  background: url("https://img1.beachbodyimages.com/beachbody/image/upload/f_auto,q_auto/v1409762611/beachbodyblog/Beachbody-Blog-Pumpkin-Spice-Latte.jpg") no-repeat center top;
  padding-bottom: 50%;
}

.cropping-demo{
  overflow: hidden;
}

.rwd-iframe-container{
  overflow: hidden;
  position: relative;
  min-width: 100%;
  height: 0;
  /*
   * 4:3 = 75%
   * 16:9 = 56.25%
   * 21:9 = 42.857142857%
   */
  padding-bottom: 56.25%;
  background: #000;
}


.rwd-iframe-container iframe {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
