*{
  box-sizing: border-box;
  font-size: 12px;
}
ul{
  list-style: none;
}

.hidden{
  display: none;
}

input, span{
  font-family: "PT Serif";
  font-style: italic;
  color: gray;
}
.wrap{
  padding: 40px 20px;
  height: 360px;
  width: 360px;
  text-align: center;
  position: relative;
  border: 1px solid gray;
}


h1{
  font-size: 18px;
}
fieldset{
  border: 0;
}

label{
  display: block;
  height: 1px;
  width: 1px;
  overflow: hidden;
  margin: -1px;

}
input{
  width: 240px;
  height: 30px;
  border-radius: 15px;
  background: #f6f6f6;
  border: none;
  margin-top: 10px;
  padding-left: 1.5em;
}
button{
  display: block;
  width: 110px;
  height: 30px;
  margin: 10px auto;
  border-radius: 15px;
  border:none;
  background: #1f4ba5;
  color: #ffffff;
}

button:hover{
  background: #289fda;

}

.sns li a{
  float: left;
  margin-right: 10px;
  width: 115px;
  height: 30px;
  border: 2px solid #215b9a;
  border-radius: 15px;
  line-height: 34px;
  position: relative;
}

.sns li a:hover{
  top: 2px;
}

.help{
  background-color: yellow;
  clear:both;
  margin: auto;
}

.help::before{
    content: "";
    background:#ececec;
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    height: 1px;
}

.help li{
  float: left;
  margin-top: 45px;
  margin-right: 10px;
  width: 115px;
  height: 30px;
}

.help a{
  color: #3b5dac;
  text-decoration: none;
}

.help a:hover{
  color: #289fda;
  text-decoration: none;
}

.close{
  position: absolute;
  right: 20px;
  top: 20px;
}
