@charset "UTF-8";
/**
* --------------------------------
* media query break point
* ----------------------------- */
/**
* --------------------------------
* style
* ----------------------------- */
/*font*/
/* 백그라운드 컬러 랜덤선택 */
/* flex 중앙정렬 */
/* translate 중앙정렬 */
/**
 * --------------------------------
 * 스타일 mixin
 * ----------------------------- */
.container {
  width: 480px;
  height: 100vh;
  margin: 0 auto;
}

@media screen and (max-width: 1600px) {
  .container {
    width: 960px;
    background: #f5c65e;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    width: 1920px;
    background: #3e8b48;
  }
}

/*임시높이+임시색깔*/
.column {
  box-sizing: border-box;
  height: 120px;
}

.column:nth-of-type(n) {
  background-color: #d9ce49;
}

.column:nth-of-type(2n) {
  background-color: #26e92c;
}

.column:nth-of-type(3n) {
  background-color: #306da1;
}

/*임시높이+임시색깔 끝*/
/*
 * ------------------------------
 * header
 * ------------------------------ */
/* nav */
nav .column {
  height: 80px;
}

/*main-slider*/
.main-slider .column {
  height: 480px;
}

.main-slider-2 {
  width: 960px;
}

.main-slider-2 .column {
  height: 240px;
}

.main-slider-2 .row > div:nth-of-type(4) {
  background: #4ab3ee;
  height: 480px;
}

.main-slider-2 .row > div:nth-of-type(5) {
  position: relative;
  top: -240px;
}

/*
 * ------------------------------
 * main
 * ------------------------------ */
/*hot-items*/
.hot-items .column {
  height: 360px;
}

/*sub-slider*/
.sub-slider .column {
  height: 120px;
}

/* blog */
.blog {
  float: left;
  display: flex;
  flex-wrap: wrap;
  width: 960px;
}

.blog > div:nth-of-type(n) {
  background-color: #cb37de;
}

.blog > div:nth-of-type(2n) {
  background-color: #39aed9;
}

.blog > div:nth-of-type(3n) {
  background-color: #b86e13;
}

.blog > div {
  flex: 0 0 240px;
  height: 240px;
}

.blog > div:nth-of-type(4) {
  display: flex;
  flex-direction: column;
}

.blog > div:nth-of-type(4) div {
  flex: 1 0 120px;
}

.blog > div:nth-of-type(7) {
  flex-grow: 1;
}

/*fetured*/
.featured {
  float: left;
  display: flex;
  flex-wrap: wrap;
  width: 960px;
}

.featured > div:nth-of-type(n) {
  background-color: #7af408;
}

.featured > div:nth-of-type(2n) {
  background-color: #9da412;
}

.featured > div:nth-of-type(3n) {
  background-color: #7e4fe6;
}

.featured > div {
  flex: 0 0 240px;
  height: 240px;
}

/*
 * ------------------------------
 * aside
 * ------------------------------ */
/* brands */
.brands {
  float: left;
  display: flex;
  width: 960px;
}

.brands > div:nth-of-type(n) {
  background-color: #d6a3da;
}

.brands > div:nth-of-type(2n) {
  background-color: #f89552;
}

.brands > div:nth-of-type(3n) {
  background-color: #b58562;
}

.brands > div {
  flex: 1 0 120px;
  height: 120px;
}

.mail-sns {
  float: left;
  display: flex;
  width: 960px;
}

.mail-sns div:nth-of-type(n) {
  background-color: #9a6a25;
}

.mail-sns div:nth-of-type(2n) {
  background-color: #4ce381;
}

.mail-sns > div {
  height: 120px;
}

.mail-sns .mail {
  flex-basis: 720px;
}

.mail-sns .sns {
  flex-basis: 240px;
  display: flex;
  flex-wrap: wrap;
}

.mail-sns .sns div {
  flex: 0 0 60px;
  height: 60px;
}

/*
 * ------------------------------
 * footer
 * ------------------------------ */
footer .column {
  height: 60px;
}

/*# sourceMappingURL=../map/layout.css.map */