/**
* --------------------------------
* media query break point
* ----------------------------- */

$break-xlarge: 1600px;


/**
* --------------------------------
* style
* ----------------------------- */
/*font*/
$oswald: Oswald, sans-serif;
$varela: 'Varela Round', sans-serif;
$main-blue: #1f4ba5;
$pt: 'PT_Serif', sans-serif;
$main-gray: #868686;
